# General
requests

# Django
Django
django-timezone-field 
django-cors-headers
django-debug-toolbar

# Distributed tasks
celery
redis
django-celery-beat

# Databases
psycopg2-binary==2.9.1

# File control
Pillow
django-cleanup

# Prepocessing
flashtext
cyrtranslit
django-ckeditor

# Server
gunicorn==20.1.0

pandas==1.3.4
numpy==1.21.5
openpyxl
xlsxwriter
xlrd

django-admin-extra-buttons
